.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fafafa;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  padding-top: 10px;
  font-size: calc(10px + 2vmin);
}

.head1 {
  float: left;
  margin-right: auto;
  font-size: medium;
  font-weight: 400;
  border-right: 2px solid #eee;
  margin-left: 120px;
  color: rgb(124, 123, 123);
}

.head2 {
  float: right;
  font-size: medium;
  font-weight: 400;
  border-right: 2px solid #eee;
  margin-right: 350px;
  color: rgb(124, 123, 123);
}

.head3 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color:  #fff
}

.head4 {
  display: flex;
  flex-direction: row;
  margin-left: 119px;
  margin-right: -119px;
}

.head5 {
  color: #de530a;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 3px;
}

.head6 {
  margin-top: 13px;
  text-transform: uppercase;
  font-weight: 300;
  color: #222222;
  font-size: 15px;
  letter-spacing: 0.7em;
}

.head7 {
  display: table-cell;
  vertical-align: middle;
}

.head8 {
  float: right ;
  margin-right: 100px;
}

.head9 {
  display: flex;
  flex-direction: row;
  color: #de530a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 500px;
  margin-right: 100px;
  float: right;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.head10 {
  background: #de530a;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  justify-content: center !important;
  margin-right: 100px;
  font-size: 14px;
  border-radius: 2px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px 30px;
  border: none;
  font-weight: 800;
  color: #fff;
}

.head11{
  margin: 20px;
  padding-top: 10px;
  background-color: #f9fafb;
}

.head12{
  float: right;
  margin-right: 80px;
  /* font-size: larger; */
  color: #3c4d6b;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}